<!-- set token -->
<% if current_user %>
<script>
   token = '<%= current_user.token %>';
   refresh_token = '<%= current_user.refresh_token %>';
   useremail = '<%= current_user.email %>';
</script>
<% end %>

<!-- calendar page -->
<div id="calendar-page" class="bigEntrance absolute-layout" ng-controller="CalCtrl">
   <%= render :partial => "common/calendar_header" %>
   <div class="fixed-header-footer-main-content">
      <div id="event-list-block">
         <div ng-repeat="event in events">
            <div class="event-item-card row hatch" ng-click="changeLockStatus($index)">
               <div class="event-start pull-left">
                  {{ event.startFormat }}
               </div>
               <div class="event-end pull-left">
                  {{ event.endFormat }}
               </div>
               <div class="pull-left well event-summary full-edge-shadow pure-g" ng-class="{ lockevent: event.lock_status == 'lock' }">
                  <div class="pure-u-4-5">
                     {{ event.summary }}
                  </div>
                  <div class="pure-u-1-5">
                     <div class="lock-btn pull-right" ng-class="{ show: event.lock_status == 'unset' }">
                        <%= image_tag "ui/unset-btn.png" %>
                     </div>
                     <div class="lock-btn pull-right" ng-class="{ show: event.lock_status == 'lock' }">
                        <%= image_tag "ui/lock-btn.png" %>
                     </div>
                     <div class="lock-btn pull-right" ng-class="{ show: event.lock_status == 'unlock' }">
                        <%= image_tag "ui/unlock-btn.png" %>
                     </div>
                  </div>
               </div>
            </div><!-- end event-item-card -->
            <div class="dot-card row hatch" ng-class="{ hide: $index == (events.length-1) }">
               <div class="circle circle-blue">
               </div>
               <div class="circle circle-blue">
               </div>
               <div class="circle circle-blue">
               </div>
            </div>
         </div>
         <div class="hatch" ng-show="!events.length" style="text-align: center; width: 80%; margin: 70px auto 70px auto;">
            <%= image_tag "calendar-freeday.png" %>
         </div>
      </div>
   </div>
   <%= render :partial => "common/calendar_footer" %>
</div>

<!-- settings page -->
<div id="settings-page" class="absolute-layout hide">
   <%= render :partial => "common/settings_header" %>
   <div class="fixed-header-main-content" ng-controller="SettingsCtrl">
      <h3>Adding Another Info</h3>
      <div id="settings-block">
         <div ng-repeat="account in settings.accounts" style="margin-left:10px;">
            <div class="pure-g account-list-block" ng-click="connectAccount($index)">
               <div class="pure-u-4-5 row">
                  <div class="circle pull-left" style="border-color:{{ account.color }};background-color:{{ account.color }};">
                  </div>
                  <div class="pull-left">
                     {{ account.account }}
                  </div>
               </div>
               <div class="pure-u-1-5 row">
                  <div ng-class="{ hide: account.is_connect == false }">
                     <button type="button" class="btn btn-primary btn-xs pull-right x-circle-btn">
                        <i class="icon-ok"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div><!-- end settings-block -->
      <%= link_to "Sign Out", session_path, method: :delete, :class=>"btn btn-primary btn-lg btn-block block-primary-color", :style=>"margin: 20px auto 30px auto;width: 90%;" %>
   </div>
</div>

<!-- messages page -->
<div id="messages-page" class="absolute-layout hide" ng-controller="MessagesCtrl">
   <%= render :partial => "common/messages_header" %>
   <div class="fixed-header-main-content-with-msry">
      <div id="messages_container" class="masonry" ng-class="{ hide: !messages.length }">
         <div class="grid-sizer"></div>
         <div ng-repeat="message in messages" class="item {{ message.layout.block }} animated flipInX" ng-click="openMessage($index)">
            <div class="item-image">
               <img ng-src="{{ message && message.image_url || '' }}" />
            </div>
            <div class="fullscreen-btn">
               <%= image_tag "ui/fullscreen-btn.png" %>
            </div>
            <div class="item-title-block" ng-class="{ hide: message.layout.title == 'off' }">
               {{ message.stripped_title }}
            </div>
            <div class="item-type-image" ng-class="{ hide: message.layout.title == 'off' }">
               <div ng-class="{ hide: message.type != 'YahooItem' }">
                  <%= image_tag "ui/yahoo-flag.png" %>
               </div>
               <div ng-class="{ hide: message.type != 'FlickrItem' }">
                  <%= image_tag "ui/flickr-flag.png" %>
               </div>
            </div>
         </div>
      </div>
      <div class="hatch" ng-show="!messages.length" style="text-align: center; width: 80%; margin: 70px auto 70px auto;">
         <%= image_tag "calendar-freeday.png" %>
      </div>
   </div>
</div>

<!-- message page -->
<div id="message-page" class="absolute-layout hide" ng-controller="MessageCtrl">
   <%= render :partial => "common/message_header" %>
   <div class="fixed-header-main-content-with-msry">
      <div class="detail-item-image">
         <img ng-src="{{ messageItem && messageItem.image_url || '' }}" />
      </div>
      <div class="detail-item-title">
         {{ messageItem.stripped_title }}
      </div>
      <div class="detail-item-content">
         {{ messageItem.stripped_description }}
      </div>
   </div>
</div>