<!-- set token -->
<% if current_user %>
<script>
   token = '<%= current_user.token %>';
   refresh_token = '<%= current_user.refresh_token %>';
   useremail = '<%= current_user.email %>';
</script>
<% end %>

<!-- calendar page -->
<div id="calendar-page" class="bigEntrance absolute-layout" ng-controller="CalCtrl">
   <%= render :partial => "common/calendar_header" %>
   <div class="fixed-header-footer-main-content">
      <div id="event-list-block">
         <div ng-repeat="event in events">
            <div class="event-item-card row hatch" ng-click="changeLockStatus($index)">
               <div class="event-start pull-left">
                  {{ event.startFormat }}
               </div>
               <div class="event-end pull-left">
                  {{ event.endFormat }}
               </div>
               <div class="pull-left well event-summary full-edge-shadow pure-g" ng-class="{ lockevent: event.lock_status == 'lock' }">
                  <div class="pure-u-4-5">
                     {{ event.summary }}
                  </div>
                  <div class="pure-u-1-5">
                     <div class="lock-btn pull-right" ng-class="{ show: event.lock_status == 'unset' }">
                        <%= image_tag "ui/unset-btn.png" %>
                     </div>
                     <div class="lock-btn pull-right" ng-class="{ show: event.lock_status == 'lock' }">
                        <%= image_tag "ui/lock-btn.png" %>
                     </div>
                     <div class="lock-btn pull-right" ng-class="{ show: event.lock_status == 'unlock' }">
                        <%= image_tag "ui/unlock-btn.png" %>
                     </div>
                  </div>
               </div>
            </div><!-- end event-item-card -->
            <div class="dot-card row hatch" ng-class="{ hide: $index == (events.length-1) }">
               <div class="circle circle-blue">
               </div>
               <div class="circle circle-blue">
               </div>
               <div class="circle circle-blue">
               </div>
            </div>
         </div>
         <div class="empty-event-card hatch" ng-show="!events.length">
            <h2 class="big-shadow-font">Wow!</h2>
            <h3 class="big-shadow-font">您今天好像很閒喔！</h3>
         </div>
      </div>
   </div>
   <%= render :partial => "common/calendar_footer" %>
</div>

<!-- settings page -->
<div id="settings-page" class="absolute-layout hide">
   <%= render :partial => "common/settings_header" %>
   <div class="fixed-header-main-content" ng-controller="SettingsCtrl">
      <h3>Adding Another Info</h3>
      <div id="settings-block">
         <div ng-repeat="account in settings.accounts" style="margin-left:10px;">
            <div class="pure-g account-list-block" ng-click="connectAccount($index)">
               <div class="pure-u-4-5 row">
                  <div class="circle pull-left" style="border-color:{{ account.color }};background-color:{{ account.color }};">
                  </div>
                  <div class="pull-left">
                     {{ account.account }}
                  </div>
               </div>
               <div class="pure-u-1-5 row">
                  <div ng-class="{ hide: account.is_connect == false }">
                     <button type="button" class="btn btn-primary btn-xs pull-right x-circle-btn">
                        <i class="icon-ok"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div><!-- end settings-block -->
      <%= link_to "Sign Out", session_path, method: :delete, :class=>"btn btn-primary btn-lg btn-block block-primary-color", :style=>"margin: 20px auto 30px auto;width: 90%;" %>
   </div>
</div>