<!-- set token -->
<% if current_user %>
<script>
   token = '<%= current_user.token %>';
   refresh_token = '<%= current_user.refresh_token %>';
   useremail = '<%= current_user.email %>';
</script>
<% end %>

<!-- calendar page -->
<div id="calendar-page" class="bigEntrance absolute-layout" ng-controller="CalCtrl">
   <%= render :partial => "common/calendar_header" %>
</div>

<!-- settings page -->
<div id="settings-page" class="absolute-layout hide">
   <%= render :partial => "common/settings_header" %>
   <%= link_to "Sign Out", session_path, method: :delete, :class=>"btn btn-primary btn-lg btn-block block-primary-color", :style=>"margin: 20px auto 30px auto;width: 90%;" %>
</div>